///Colores
///Código del usuario, previo  al uso (o importación) de mi libreria

/// @group colores
$color-green: rgb(123,172,43);

/// @group colores
$color-grey: rgb(229,214,214);

/// @group colores
$color-black: black;

$negrita: bold;