//// @access public
//// @author @Alejandro
/// @group tamaños
$letra-contactos: 1.5rem;

/// @group tamaños
$nav-tablet: 1.7rem;

/// @group tamaños
$footer: 1.4rem;

/// @group tamaños
$footer2: 2.2rem;

/// @group tamaños
$footer3: 2.2rem;

/// @group tamaños
$footer-table: 1.7rem;

/// @group tamaños
$footer-ul: 1.2rem;

/// @group tamaños
$footer-ul2: 2.2rem;

/// @group tamaños
$img-article-img: 400px;

/// @group tamaños
$img-footer-pc: 200px;

/// @group tamaños
$dgt-tablet-img: 500px;
/// @group tamaños
$letra-size: 1.2rem;

/// @group tamaños

/*tamaño predefinido 5 1.5rem seria el tamaño personalizado mas grande*/

/// tamaño predefinido 5 1.5rem seria el tamaño personalizado mas grande

$display5: 1.5rem;

/// @group tamaños
$display6: 1.7rem;

/// @group tamaños
$display7: 1rem;

/// @group tamaños
$margin-top: 5%;

/// @group tamaños
$padding: 30px;

/// @group tamaños
$padding2: 15px;

/// @group tamaños
$cero: 0px;

/// @group tamaños
$margin-right: 45px;

/// @group tamaños
$margin-right-mitad: 30px;


/// @group tamaños
$margin-default: 15px;

